import org.openqa.selenium.firefox.FirefoxDriver
import org.openqa.selenium.firefox.FirefoxProfile
import org.openqa.selenium.Dimension

driver = {
  def profile = new FirefoxProfile()
  profile.setEnableNativeEvents(true)
  def driver = new FirefoxDriver(profile)
  driver.manage().window().setSize(new Dimension(1040, 850))
  return driver
}
baseUrl = "http://delayrepay.thameslinkrailway.com/customer-details"
reportsDir = "target/test-reports/geb"
